<html>

<body>
  <div [ngSwitch]="respuesta">
    <div *ngSwitchCase="0">

      <h1 style="text-align: center; color:aliceblue;">Realizar Venta</h1>
      <div class="card" style="margin-top: 15px; padding: 15px;">
        <h1 class="card-title">Venta Producto: {{planetaXProducto.producto?.nombre!}}</h1>
        <div class="containerColumnaF">
          <div class="containerFilaF">
            <h3 class="card-title itemF1">Stock:</h3>
            <h3 class="card-title itemF3">{{planetaXProducto.stock}}</h3>
          </div>

          <div class="containerFilaF">
            <h3 class="card-title itemF1">Precio Por Unidad:</h3>
            <h3 class="card-title itemF3">${{planetaXProducto.precioVenta}}</h3>
          </div>

          <div class="containerFilaF">
            <h3 class="card-title itemF1">Cantidad a ofrecer:</h3>
            <input type="number" class="form-control" [(ngModel)]="cantidad" name="cantidad" min="1"
              max="{{planetaXProducto.stock}}" required>
          </div>

          <div class="containerFilaF">
            <h3 class="card-title itemF1">TOTAL Ganancia:</h3>
            <h3 class="card-title itemF3">${{cantidad * planetaXProducto.precioVenta!}}</h3>
          </div>
          <a class="btn btn-primary" (click)="botonRealizarVenta()">Vender</a>
          <button type="button" class="btn btn-primary" [routerLink]="['/planeta/', planetaId] ">Cancelar</button>
        </div>
      </div>

    </div>
    <div *ngSwitchCase="1">

      <h1 style="text-align: center; color:aliceblue;">Mensaje Error</h1>
      <app-pantalla-dialogo [mensaje]= "mensaje"></app-pantalla-dialogo>

    </div>
    <div *ngSwitchCase="2">

      <h1 style="text-align: center; color:aliceblue;">Venta Realizada Con Éxito</h1>
      <app-pantalla-dialogo-exito [mensaje]= "mensaje"></app-pantalla-dialogo-exito>

    </div>
    <div *ngSwitchDefault></div>
  </div>

</body>

</html>
