<html>

<main>
    <p>{{title}}</p>
    <!--
    <nav>
        <ul>
            <li><a [routerLink]="['/foro/foro-list']">Salir</a></li>
            <li><a [routerLink]="['/login']">Registrarse</a></li>
            <li><a [routerLink]="['/login']">Logearse</a></li>
        </ul>
    </nav>
  -->
    <div class="red-border">
        <router-outlet></router-outlet>
    </div>
</main>

</html>
<!-- lo que esta en el li con routerLink, sera la barra de menu, entonces puedes cambiarlo como quieras, pero toca con router-->