<main>
    <nav class="navbar navbar-expand-lg navbar-night bg-black transparency-black">
        <div class="container-fluid transparency-black">

            <a class="navbar-brand" [routerLink]="['/']">Zathura</a>

            <div *ngIf="auth" class="collapse navbar-collapse transparency-black" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" [routerLink]="['/menu']">Menú</a>
                </div>
            </div>

            <div *ngIf="auth">
                <div class="text-end">
                    <button type="button" class="btn btn-danger p-1" (click)="salir()">Salir</button>
                </div>
            </div>

            <div *ngIf="!auth">
                <div class="text-end">
                    <button type="button" [routerLink]="['/login']" class="btn btn-outline-light me-2">Ingresar</button>
                    <button type="button" [routerLink]="['/registro']" class="btn btn-warning me-4">Registro</button>
                </div>
            </div>

        </div>
    </nav>

    <div class="height">
        <router-outlet></router-outlet>
    </div>

</main>
