html {
    height: 100%;
    background-image: url("https://i.gifer.com/YcsK.gif");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-align: initial;
}

.container {
    margin-bottom: 15px;
}

.btn-actual {
    background-color: #4CAF50;
}

.containerFilaF {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.itemF1 {
  text-align: start;
}

.itemF2 {
  text-align: start;
}



